Flask==0.10.1
Flask-Login==0.3.2
Flask-Principal==0.4.0
Flask-Security==1.7.5
Flask-SQLAlchemy==2.1
GeoAlchemy2==0.2.6
Shapely==1.5.13
SQLAlchemy==1.0.10
SQLAlchemy-Defaults==0.4.4
SQLAlchemy-Utils==0.31.4
